<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.DownloadTest" 
    version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
     xmlns:gap="http://phonegap.com/ns/1.0">
    <name>DownloadTest</name>
    <description>DownloadTest</description>
    <author>DownloadTest Team</author>
    <preference name="phonegap-version"      value="cli-5.2.0" />
    <preference name="android-minSdkVersion" value="10" />

    <plugin name="cordova-plugin-camera"         source="npm" spec="1.2.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="1.0.1" />
    <!-- <plugin name="cordova-plugin-file"           source="npm" spec="2.1.0" /> -->
    <!-- file-transfer: questo plugin permette di scaricare in locale dei file da specifici url -->
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="1.2.0" />
    <!-- whitelist: questo plugin permette di configurare i domini a cui l'applicazione può accedere via http, https ecc.
         serve per far funzionare il plugin filetransfer che permette di scaricare in locale dei file da un determinato url (nel nostro caso gli allegati di una mail) -->
    <plugin name="cordova-plugin-whitelist"      source="npm" spec="1.1.0" />

    <!-- allow-navigation questa configurazione dice al plugin whitelist che tutti i domini possono essere contattati; in questo modo si riesce a far funzionare il plugin filetransfer che permette di scaricare in locale un file da un URL (nel nostro caso per il download in locale degli allegati -->
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <!--<access origin="*" />--> <!-- Required for iOS9 -->
</widget>